In [21]:
import pandas as pd

In [22]:
movies = pd.read_csv("movies_dataset.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")
movies = movies.merge(credits,on='title')
movies

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count,movie_id,cast,crew
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862,278,"[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de..."
1,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280,238,"[{""cast_id"": 5, ""character"": ""Don Vito Corleon...","[{""credit_id"": ""52fe422bc3a36847f80093c9"", ""de..."
2,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959,424,"[{""cast_id"": 14, ""character"": ""Oskar Schindler...","[{""credit_id"": ""52fe4242c3a36847f8010303"", ""de..."
3,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811,240,"[{""cast_id"": 8, ""character"": ""Don Michael Corl...","[{""credit_id"": ""52fe422bc3a36847f8009501"", ""de..."
4,129,Spirited Away,"Animation,Family,Fantasy",ja,"A young girl, Chihiro, becomes trapped in a st...",92.056,2001-07-20,8.5,13093,129,"[{""cast_id"": 3, ""character"": ""Chihiro (voice)""...","[{""credit_id"": ""571e4beec3a3683393000236"", ""de..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3564,297596,Dying of the Light,"Thriller,Drama",en,"Evan Lake, a veteran CIA agent, has been order...",10.090,2014-12-04,4.7,260,297596,"[{""cast_id"": 4, ""character"": ""Evan Lake"", ""cre...","[{""credit_id"": ""546b104292514117ea000f92"", ""de..."
3565,290825,Yoga Hosers,"Comedy,Fantasy,Horror",en,Two teenage yoga enthusiasts team up with a le...,10.646,2016-07-08,4.7,342,290825,"[{""cast_id"": 16, ""character"": ""Colleen Collett...","[{""credit_id"": ""54892e6892514161c7000ce9"", ""de..."
3566,146203,The Last Exorcism Part II,"Horror,Thriller",en,As Nell Sweetzer tries to build a new life aft...,15.757,2013-02-28,4.7,444,146203,"[{""cast_id"": 1, ""character"": ""Nell Sweetzer"", ...","[{""credit_id"": ""52fe4b779251416c75103b75"", ""de..."
3567,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347,10196,"[{""cast_id"": 2, ""character"": ""Aang"", ""credit_i...","[{""credit_id"": ""52fe433f9251416c750092c9"", ""de..."
3568,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668,2312,"[{""cast_id"": 13, ""character"": ""Farmer"", ""credi...","[{""credit_id"": ""52fe434dc3a36847f8049dd7"", ""de..."

In [23]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count', 'movie_id', 'cast',
       'crew'],
      dtype='object')

In [24]:
movies.describe()

                  id   popularity  vote_average    vote_count       movie_id
count    3569.000000  3569.000000   3569.000000   3569.000000    3569.000000
mean    52385.373494    29.729565      6.569431   2604.341552   45849.753713
std     96903.599921    42.356581      0.745197   3515.958140   77351.340494
min         5.000000     1.235000      4.600000    200.000000       5.000000
25%      5236.000000    10.965000      6.000000    559.000000    4960.000000
50%     11130.000000    16.942000      6.600000   1301.000000   10950.000000
75%     47964.000000    32.367000      7.100000   3115.000000   45317.000000
max    928381.000000  1242.491000      8.700000  31917.000000  417859.000000

In [25]:
movies.genre.value_counts()

genre
Drama                             191
Comedy                            168
Drama,Romance                     112
Comedy,Romance                    102
Comedy,Drama                       81
                                 ...
Romance,History,Comedy              1
Horror,Mystery,Drama,Fantasy        1
Music,Drama,Romance,Crime           1
Comedy,Drama,History,Romance        1
Adventure,Fantasy,Action,Drama      1
Name: count, Length: 1057, dtype: int64

In [26]:
genres_df = movies['genre'].explode()
genres_df

0                          Drama,Crime
1                          Drama,Crime
2                    Drama,History,War
3                          Drama,Crime
4             Animation,Family,Fantasy
                     ...
3564                    Thriller,Drama
3565             Comedy,Fantasy,Horror
3566                   Horror,Thriller
3567          Action,Adventure,Fantasy
3568    Adventure,Fantasy,Action,Drama
Name: genre, Length: 3569, dtype: object

In [27]:
movies.genre.unique()

array(['Drama,Crime', 'Drama,History,War', 'Animation,Family,Fantasy',
       ..., 'Horror,Thriller,Science Fiction,Mystery',
       'Action,Comedy,Thriller,Crime,Science Fiction',
       'Adventure,Fantasy,Action,Drama'], dtype=object)

In [28]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3569 entries, 0 to 3568
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 3569 non-null   int64
 1   title              3569 non-null   object
 2   genre              3569 non-null   object
 3   original_language  3569 non-null   object
 4   overview           3569 non-null   object
 5   popularity         3569 non-null   float64
 6   release_date       3569 non-null   object
 7   vote_average       3569 non-null   float64
 8   vote_count         3569 non-null   int64
 9   movie_id           3569 non-null   int64
 10  cast               3569 non-null   object
 11  crew               3569 non-null   object
dtypes: float64(2), int64(3), object(7)
memory usage: 334.7+ KB

In [29]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count', 'movie_id', 'cast',
       'crew'],
      dtype='object')

In [30]:
movies = movies[['id','title','genre','overview','release_date','crew','cast']]

In [31]:
import ast

In [32]:
def fetch_director(text):
    L = []
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
    return L

In [33]:
movies['crew'] = movies['crew'].apply(fetch_director)
movies

C:\Users\dharm\AppData\Local\Temp\ipykernel_10532\1771954881.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['crew'] = movies['crew'].apply(fetch_director)

,id,title,genre,overview,release_date,crew,cast
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,1994-09-23,[Frank Darabont],"[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ..."
1,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,[Francis Ford Coppola],"[{""cast_id"": 5, ""character"": ""Don Vito Corleon..."
2,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,1993-12-15,[Steven Spielberg],"[{""cast_id"": 14, ""character"": ""Oskar Schindler..."
3,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,1974-12-20,[Francis Ford Coppola],"[{""cast_id"": 8, ""character"": ""Don Michael Corl..."
4,129,Spirited Away,"Animation,Family,Fantasy","A young girl, Chihiro, becomes trapped in a st...",2001-07-20,[Hayao Miyazaki],"[{""cast_id"": 3, ""character"": ""Chihiro (voice)""..."
...,...,...,...,...,...,...,...
3564,297596,Dying of the Light,"Thriller,Drama","Evan Lake, a veteran CIA agent, has been order...",2014-12-04,[Paul Schrader],"[{""cast_id"": 4, ""character"": ""Evan Lake"", ""cre..."
3565,290825,Yoga Hosers,"Comedy,Fantasy,Horror",Two teenage yoga enthusiasts team up with a le...,2016-07-08,[Kevin Smith],"[{""cast_id"": 16, ""character"": ""Colleen Collett..."
3566,146203,The Last Exorcism Part II,"Horror,Thriller",As Nell Sweetzer tries to build a new life aft...,2013-02-28,[Ed Gass-Donnelly],"[{""cast_id"": 1, ""character"": ""Nell Sweetzer"", ..."
3567,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...",2010-06-30,[M. Night Shyamalan],"[{""cast_id"": 2, ""character"": ""Aang"", ""credit_i..."
3568,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,2007-11-29,[Uwe Boll],"[{""cast_id"": 13, ""character"": ""Farmer"", ""credi..."

In [34]:
def convert(text):
    L = ""
    for i in ast.literal_eval(text):
        L +=i['name']
        L +=","
    return L

In [35]:
movies['cast'] = movies['cast'].apply(convert)

C:\Users\dharm\AppData\Local\Temp\ipykernel_10532\3226101567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(convert)

In [36]:
def filter_cast(cast):
    count = 0
    for i in range(len(cast)):
        if cast[i]==",":
            count +=1
        if count==3:
            return cast[0:i]

In [37]:
movies['cast'] = movies['cast'].apply(filter_cast)

C:\Users\dharm\AppData\Local\Temp\ipykernel_10532\2243993313.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['cast'] = movies['cast'].apply(filter_cast)

In [38]:
movies['tags'] = movies['overview']+movies['genre']+movies['cast']
movies

C:\Users\dharm\AppData\Local\Temp\ipykernel_10532\558679573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['tags'] = movies['overview']+movies['genre']+movies['cast']

,id,title,genre,overview,release_date,crew,cast,tags
0,278,The Shawshank Redemption,"Drama,Crime",Framed in the 1940s for the double murder of h...,1994-09-23,[Frank Darabont],"Tim Robbins,Morgan Freeman,Bob Gunton",Framed in the 1940s for the double murder of h...
1,238,The Godfather,"Drama,Crime","Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,[Francis Ford Coppola],"Marlon Brando,Al Pacino,James Caan","Spanning the years 1945 to 1955, a chronicle o..."
2,424,Schindler's List,"Drama,History,War",The true story of how businessman Oskar Schind...,1993-12-15,[Steven Spielberg],"Liam Neeson,Ben Kingsley,Ralph Fiennes",The true story of how businessman Oskar Schind...
3,240,The Godfather: Part II,"Drama,Crime",In the continuing saga of the Corleone crime f...,1974-12-20,[Francis Ford Coppola],"Al Pacino,Robert Duvall,Diane Keaton",In the continuing saga of the Corleone crime f...
4,129,Spirited Away,"Animation,Family,Fantasy","A young girl, Chihiro, becomes trapped in a st...",2001-07-20,[Hayao Miyazaki],"Rumi Hiiragi,Miyu Irino,Mari Natsuki","A young girl, Chihiro, becomes trapped in a st..."
...,...,...,...,...,...,...,...,...
3564,297596,Dying of the Light,"Thriller,Drama","Evan Lake, a veteran CIA agent, has been order...",2014-12-04,[Paul Schrader],"Nicolas Cage,Anton Yelchin,Alexander Karim","Evan Lake, a veteran CIA agent, has been order..."
3565,290825,Yoga Hosers,"Comedy,Fantasy,Horror",Two teenage yoga enthusiasts team up with a le...,2016-07-08,[Kevin Smith],"Lily-Rose Depp,Harley Quinn Smith,Justin Long",Two teenage yoga enthusiasts team up with a le...
3566,146203,The Last Exorcism Part II,"Horror,Thriller",As Nell Sweetzer tries to build a new life aft...,2013-02-28,[Ed Gass-Donnelly],"Ashley Bell,Julia Garner,Andrew Sensenig",As Nell Sweetzer tries to build a new life aft...
3567,10196,The Last Airbender,"Action,Adventure,Fantasy","The story follows the adventures of Aang, a yo...",2010-06-30,[M. Night Shyamalan],"Noah Ringer,Nicola Peltz,Jackson Rathbone","The story follows the adventures of Aang, a yo..."
3568,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",A man named Farmer sets out to rescue his kidn...,2007-11-29,[Uwe Boll],"Jason Statham,John Rhys-Davies,Ray Liotta",A man named Farmer sets out to rescue his kidn...

In [39]:
# new_data = movies.drop(columns=['overview','genre'])
# new_data

In [40]:
new_data = movies

In [41]:
movies.shape

(3569, 8)

In [42]:
from sklearn.feature_extraction.text import CountVectorizer

In [43]:
cv = CountVectorizer(max_features=1750,stop_words='english')

In [44]:
cv

CountVectorizer(max_features=1750, stop_words='english')

In [45]:
vector = cv.fit_transform(new_data['tags'][0:1750].values.astype('U'))

In [46]:
vector

<1750x1750 sparse matrix of type '<class 'numpy.int64'>'
	with 32671 stored elements in Compressed Sparse Row format>

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

In [48]:
similarity = cosine_similarity(vector)

In [49]:
len(similarity)

1750

In [50]:
new_data[new_data['title']=="The Godfather"].index[0]

1

In [51]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3569 entries, 0 to 3568
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            3569 non-null   int64
 1   title         3569 non-null   object
 2   genre         3569 non-null   object
 3   overview      3569 non-null   object
 4   release_date  3569 non-null   object
 5   crew          3569 non-null   object
 6   cast          3566 non-null   object
 7   tags          3566 non-null   object
dtypes: int64(1), object(7)
memory usage: 223.2+ KB

In [52]:
distance = sorted(list(enumerate(similarity[1])),reverse=True,key = lambda vector:vector[1])
for i in distance[0:5]:
    print(new_data.iloc[i[0]].title)

The Godfather
Donnie Brasco
The Godfather: Part II
Serial Mom
One Hour Photo

In [53]:
def recommand(movies):
    movie_info = [[0,0,0,0,0,0] for j in range(10)]
    index = new_data[new_data['title']==movies].index[0]
    distance = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda vector:vector[1])
    for i in range(0,10):
        value = distance[i]
        movie_info[i][0] = new_data.iloc[value[0]].title
        movie_info[i][1] = new_data.iloc[value[0]].genre
        movie_info[i][2] = new_data.iloc[value[0]].release_date
        movie_info[i][3] = new_data.iloc[value[0]].cast
        movie_info[i][4] = new_data.iloc[value[0]].crew
        movie_info[i][5] = new_data.iloc[value[0]].overview
    return movie_info

In [54]:
result = recommand("Iron Man")
for i in result:
    print(i)

['Iron Man', 'Action,Science Fiction,Adventure', '2008-04-30', 'Robert Downey Jr.,Terrence Howard,Jeff Bridges', ['Jon Favreau'], 'After being held captive in an Afghan cave, billionaire engineer Tony Stark creates a unique weaponized suit of armor to fight evil.']
['Iron Man 3', 'Action,Adventure,Science Fiction', '2013-04-18', 'Robert Downey Jr.,Gwyneth Paltrow,Don Cheadle', ['Shane Black'], "When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution."]
['Avengers: Age of Ultron', 'Action,Adventure,Science Fiction', '2015-04-22', 'Robert Downey Jr.,Chris Hemsworth,Mark Ruffalo', ['Joss Whedon'], 'When Tony Stark tries to jumpstart a dormant peacekeeping program, things go awry and Earth’s Mightiest Heroes are put to the ultimate test as the fate of the planet hangs in the balance. As the villainous Ultron emerges, it is up to The Avengers to stop him from enacting his terrible plans, and soon uneasy alliances and unexpected action pave the way for an epic and unique global adventure.']
['Sherlock Holmes: A Game of Shadows', 'Adventure,Action,Crime,Mystery', '2011-11-22', 'Robert Downey Jr.,Jude Law,Jared Harris', ['Guy Ritchie'], 'There is a new criminal mastermind at large (Professor Moriarty) and not only is he Holmes’ intellectual equal, but his capacity for evil and lack of conscience may give him an advantage over the  detective.']
['Jurassic World', 'Action,Adventure,Science Fiction,Thriller', '2015-06-06', 'Chris Pratt,Bryce Dallas Howard,Irrfan Khan', ['Colin Trevorrow'], 'Twenty-two years after the events of Jurassic Park, Isla Nublar now features a fully functioning dinosaur theme park, Jurassic World, as originally envisioned by John Hammond.']
['Iron Man 2', 'Adventure,Action,Science Fiction', '2010-04-28', 'Robert Downey Jr.,Gwyneth Paltrow,Don Cheadle', ['Jon Favreau'], "With the world now aware of his dual life as the armored superhero Iron Man, billionaire inventor Tony Stark faces pressure from the government, the press and the public to share his technology with the military. Unwilling to let go of his invention, Stark, with Pepper Potts and James 'Rhodey' Rhodes at his side, must forge new alliances – and confront powerful enemies."]
['The Avengers', 'Science Fiction,Action,Adventure', '2012-04-25', 'Robert Downey Jr.,Chris Evans,Mark Ruffalo', ['Joss Whedon'], 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!']
['10 Cloverfield Lane', 'Thriller,Science Fiction,Drama,Horror', '2016-03-10', 'Mary Elizabeth Winstead,John Goodman,John Gallagher Jr.', ['Dan Trachtenberg'], 'After getting in a car accident, a woman is held in a shelter with two men, who claim the outside world is affected by a widespread chemical attack.']
['Predator', 'Science Fiction,Action,Adventure,Thriller', '1987-06-12', 'Arnold Schwarzenegger,Carl Weathers,Elpidia Carrillo', ['John McTiernan'], 'A team of commandos on a mission in a Central American jungle find themselves hunted by an extraterrestrial warrior.']
['Star Wars: Episode III - Revenge of the Sith', 'Adventure,Action,Science Fiction', '2005-05-17', 'Ewan McGregor,Natalie Portman,Hayden Christensen', ['George Lucas'], 'The evil Darth Sidious enacts his final plan for unlimited power -- and the heroic Jedi Anakin Skywalker must choose a side.']

In [55]:
import pickle

In [56]:
pickle.dump(similarity,open('new_similarity.pkl','wb'))

In [57]:
pickle.dump(movies,open('new_movies.pkl','wb'))